/*===== LAYOUT =====*/
.bd_grid {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1250px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* ===== ABOUT ME =====*/
.about {
  background-color: #15202b;
}
.about_title {
  text-align: center;
}
.me_container {
  align-items: center;
  text-align: initial;
  padding-top: 1rem;
}

.skills_container h2 {
  margin: 0;
}
.skills_list {
  display: inline-block;
}
.skills_box {
  display: flex;
  justify-content: space-between;
}
.skills_subtitle {
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}
.skills_name {
  color: #15202b;
  display: inline-block;
  font-size: var(--small-font-size);
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  background-color: #efefff;
  border-radius: 0.25rem;
}
.last {
  margin-right: 0;
}
.skills_name:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}

/* ===== PORTFOLIO =====*/
.portfolio {
  background-color: var(--white-color);
}
.portfolio_container {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.portfolio_images {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  justify-items: center;
  row-gap: 2rem;
  padding: 0;
}
.portfolio_div {
  background-color: #33404d;
  border-radius: 0.5rem;
}
.title {
  padding-left: 1rem;
  padding-right: 1rem;
}
.description {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.img {
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 375px;
  height: 225px;
}
.source {
  color: #9ba4ff;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: underline;
  text-underline-position: under;
}

/* ===== MAX WIDTH =====*/
@media screen and (max-width: 768px) {
  .bd_grid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .skills_box {
    display: inline;
  }
  .nav_link:hover {
    color: white;
    text-shadow: none;
  }
  .about {
    height: auto;
  }
  .img {
    width: 750px;
    height: 450px;
  }
  .me_container {
    padding-top: 0.8rem;
  }
  .portfolio_images {
    display: inline;
  }
  .skills_container {
    padding-top: 2rem;
  }
  .portfolio_container {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 0.5rem;
  }
}
