/*===== LAYOUT =====*/
.bd_grid {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1250px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/*===== HOME =====*/
.home {
  height: 100vh;
  position: relative;
  background-color: var(--first-color);
  overflow: hidden;
}
.home_container {
  display: grid;
  width: 100%;
}
.home_title {
  align-self: flex-end;
  font-size: var(--big-font-size);
  color: white;
  line-height: 0.8;
  text-align: left;
}
.home_title span {
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}
.home_scroll {
  margin-left: 0;
  align-self: flex-end;
  padding-bottom: var(--mb-4);
  z-index: 9;
}
.home_scroll_link {
  margin-left: 0;
  font-size: 18px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: rgb(240, 240, 240);
  width: 22px;
}
.home_scroll_link:hover {
  color: #0f1419;
}
.home_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 675px;
  height: 550px;
}

/* ===== MAX WIDTH =====*/
@media screen and (max-width: 950px) {
  .home_img {
    width: 450px;
    height: 360px;
  }
}
@media screen and (max-width: 768px) {
  .bd_grid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .home {
    height: calc(100vh - var(--header-height));
  }
  .home_img {
    width: 340px;
    height: 275px;
  }
}
