/*===== LAYOUT =====*/
.bd_grid {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1250px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* ===== CONTACT =====*/
.contact {
  background-color: #0f1419;
  padding-top: 1.25rem;
  height: calc(100vh - var(--header-height));
}
.contact_container {
  margin: 0 auto;
}
.contact_subtitle {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  align-items: center;
  justify-content: center;
}
.contact_text {
  color: rgb(240, 240, 240);
  display: inline-block;
  margin-bottom: var(--mb-2);
}
.contact_inputs {
  position: relative;
  align-items: center;
  display: grid;
  column-gap: 2rem;
}
.contact_input::placeholder {
  color: #b4b4b4;
}
.contact_input,
.contact_button {
  font-family: var(--body-font);
}
.contact_input {
  background-color: #1f2a35;
  color: white;
  position: relative;
  align-items: center;
  width: 100%;
  margin-left: none;
  padding: 1rem;
  outline: none;
  border: 1.5px solid var(--dark-color);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
}
.contact_inputs textarea {
  height: 38vh;
  resize: none;
}
.contact_button {
  display: block;
  background-color: var(--first-color);
  color: white;
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  width: 100%;
}
.contact_info {
  background-color: #0f1419;
  margin-top: 5.2rem;
  position: relative;
  text-align: center;
}
.margin {
  margin-top: 3.85rem;
}
.success {
  color: #6b77fa;
  text-align: center;
  margin-top: 0;
}

/* ===== MAX WIDTH =====*/
@media screen and (max-width: 768px) {
  .contact {
    height: auto;
  }
  .contact_info {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}
