/*===== IMPORT =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/*===== BASE =====*/
:root {
  --first-color: #6b77fa;
  --white-color: #dfdfff;
  --dark-color: #2a3b47;
  --text-color: #697477;
  --body-font: "Montserrat";
  --big-font-size: 10.5rem;
  --h2-font-size: 2.1rem;
  --normal-font-size: 1.1rem;
  --small-font-size: 0.9rem;
  --header-height: 4rem;
  --font-medium: 500;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}

/*===== DEFAULT =====*/
body {
  background-color: #6b77fa;
  color: white;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: left;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

/*===== ICONS =====*/
.fa-chevron-down {
  padding-top: 4px;
  transform: rotate(-180deg);
  vertical-align: 0px;
  font-size: 22px;
}
.fa-github,
.fa-linkedin {
  color: rgb(240, 240, 240);
}
.fab {
  padding-left: 0.5rem;
  color: rgb(230, 230, 230);
}
.fa-bars {
  display: none;
}
.fa-times {
  color: #15202b;
}

/* ===== MAX WIDTH =====*/
@media screen and (max-width: 768px) {
  :root {
    --big-font-size: 6.25rem;
    --h2-font-size: 1.8rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 0.9rem;
  }
  body {
    background-color: #6b77fa;
    margin: var(--header-height) 0 0 0;
  }
  .fa-bars {
    display: flex;
    font-size: 1.5rem;
  }
}
